export default{
    "appHeader" : "Punk Beer Factory",
    "contributedBy" : "Contributed By :",
    "brewerTips" : "Brewer Tips",
    "anotherBeer" : "Random Beer",
    "randomNonAlcholicBeer" : "Non Alcoholic Beer",
    "firstBrewed" : "First Brewed",
    "ph" : "pH",
    "searchHeader" : "Search for your favourite beer",
    "clearField" : "Clear Input",
    "searchResult" : "Search Result",
    "byName" : "By Name",
    "byDesc" : "By Description",
    "standardBeerImage": "https://www.svgrepo.com/show/118352/beer-bottle.svg"
} 